    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <title>Home</title> -->
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <!-- <h1>Home page</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, aut temporibus recusandae dignissimos, commodi quo inventore debitis corporis enim fugit culpa consequuntur, deleniti ex sed voluptate asperiores ad architecto earum.</p> -->
        <header>
            <h1><%= title %></h1>
            <nav>
                <ul>
                    <li><a href=""><%= link1 %></a></li>
                    <li><a href=""><%= link2 %></a></li>
                    <li><a href=""><%= link3 %></a></li>
                </ul>
            </nav>
        </header>
        <main>
            <p><%= body %></p>
        </main>
        <footer>
            <p><%= footer %></p>
        </footer>
    </body>
    </html>

